.background {
  background-color: #F6F6F6;
}

.min_height {
  min-height: 773px;
}

.top_menu {
  height: 45px;
  background-color: #FFFFFF;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  display:flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}

.top_menu .container {
  padding: 0 11px 0 11px;
  box-sizing: border-box;
  display: flex;
}

.selected_topic {
  width:381px;
  display:flex;
  padding-right:9px;
  align-items: center;
}

.selected_topic text{
  width:100%;
  padding-right: 15px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #AE7D67;
}
.tags {
  width:248px;
}
.selected_topic text a{
  width:34px;
  color: #AE7D67;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  padding: 16px;
}
.index_feed {
  padding-top: 18px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.wrap_feed {

}

.feed_card {
  width: 218px;
  height: 161px;
  background: #FFFFFF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; 
  padding: 13px 17px 5px 17px;
  margin : 17px 11px 0 11px;   
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feed_card_body {
  min-height: 68px;
  margin-bottom: 16px;
  font-family: 'DM Sans' ;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.feed_card_tag {
  height: 108px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tags {    
  display: flex;
  align-self:flex-start;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 53px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;    
}

.tag {    
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #AE7D67;
  max-width: 130px;
  height: 24px;
  max-width: 120px;
  padding: 2px 8px 4px 8px;
  border: 1px solid #AE7D67;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 1px 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;    
}

.feed_card_created_at {
  width: 70px;
  box-sizing: border-box;
  height: 52px;
  font-family: 'DM Sans', ;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: right;
  color: #B3B3B3;
  align-self:flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.feed_card_info {
  height: 39px;
  width: 216px;
  padding: 0;
  background: #FFFFFF;
  border-top: 1px solid #E0E0E0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin : 0 11px 0 11px;   
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.feed_card_avatar {
  margin-left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C4C4C4;;
}
.feed_card_author {
  box-sizing: border-box;
  padding: 10px 10px;
  height: 39px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  align-self: center;
  width: 120px;
}

.feed_card_liked {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px 5px;
  height: 39px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  align-self: center;
  align-items: center;
}

.comment_count {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.liked_users_count {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.liked_users_count input {
  margin-top: 3px;
}

.feed_card_liked img{
  margin-right: 5px;
}