{% extends "base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'posts/detail/style.css' %}">
{% endblock %}
{% block content %}
<div class="background">
    <div class="container">
        <div class="detail_box_wrap">        
            <div class="detail_box">
                <div class="text">
                    토픽
                </div>
                {% if tags %}
                <div class="topic_tags">                
                {% for tag in tags %}
                <div class="topic_tag">
                    {{ tag }} 
                    <a href="{% url 'posts:interest_tags' tag.id %}?next={{request.path}}">
                        {% if tag in my_tags %}
                        -
                        {% else %}
                        +
                        {% endif %}
                    </a>
                </div>
                {% endfor %}                

                </div>
                {% endif %}
                <div class="text">
                    장소
                </div>
                <div class="vils_daycount">
                    <div class="vils">
                        {% if post.post_vil.all %}
                        {% for vil in post.post_vil.all %}
                        <img src="{% static 'images/map_pin.svg'%}" style="width: 22px; height: 22px;"><div class="vil">{{ vil }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="daycount">
                        {{ post.daycount }}
                    </div>
                </div>
                <div class="profile_info">
                    <div class="profile_photo">                        
                    </div>
                    <div class="nickname_uservil">  
                        <div class="nickname">
                        <a href="{% url 'posts:profile_page' post.user.id %}">
                            {{ post.user.nickname }}
                        </a>
                        </div>
                        <div class="uservil">
                            <div>{{ user_profile.main_village }}</div>
                            {% if user_profile.second_village %}<div>{{ user_profile.second_village }}</div>{% endif %}
                            {% if user_profile.third_village %}<div>{{ user_profile.third_village }}</div>{% endif %}
                        </div>                      
                    </div>
                </div>
                <div class="post_body">
                    {{ post.body }}
                </div>
                <div class="update_delete_like_comment">
                    <div class="update_delete">
                        {% if user.nickname == post.user.nickname %}   
                        <div>
                            <a href="{% url 'posts:edit' post.id %}">수정하기</a>
                        </div>
                        <div>
                        <a href="{% url 'posts:delete' post.id %}">삭제하기</a>
                        </div>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="like_comment">
                        <div>

                        {% if user.is_authenticated %}
                        <form action="{% url 'posts:like' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type="image" src="{% static 'images/empty_like.svg'%}" style="width: 16px; height: 14.86px;">
                        </form>
                        {% endif %}
                        </div>
                        <div>{{ post.liked_users.count }}</div>
                        <div><img src="{% static 'images/comment_count.svg'%}" style="width: 16px; height: 16.51px; margin-top:3px;"></div>
                        <div>{{ post.comment_set.all.count }}</div>
                    </div>
                </div>
                <div class="line">
                </div>
                <form action="{% url 'posts:comment_create' post.id %}" method="POST" enctype="multipart/form-data">
                <div class="comment_write">
                    <div class="profile_photo">
                    </div>                 
                {% csrf_token %}
                <div>
                    <textarea class="body" name="body" rows="4"></textarea>
                </div>                
                <div>
                    <input type="submit" value="댓글달기">
                </div>                  
                </div>
                </form>        
                {% if comments %}
                {% for comment in comments %}
                <div class="comments_view">
                    <div class="comment_contents">                        
                        <div class="profile_photo">
                        </div> 
                        <div class="comment_info_body">                 
                        <div class="comment_nickname_uservil">  
                            <div class="nickname">
                            <a href="{% url 'posts:profile_page' comment.user.id %}">
                                {{ comment.user.nickname }}
                                </a>
                            </div>
                            <div class="uservil">
                                청라 1동
                            </div>
                            {% if user.nickname == comment.user.nickname %}
                            <a href="{% url 'posts:comment_edit' comment.id %}">Edit</a>
                            <a href="{% url 'posts:comment_delete' comment.id %}">Delete</a>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="comment_body">
                            {{ comment.body }}
                        </div>
                    </div>
                </div>
                <div class="comment_menu">
                {{ comment.daycount }}
                    {% if user.nickname == comment.user.nickname %}
                    <a href="{% url 'posts:comment_edit' comment.id %}">좋아요</a>
                    {% else %}
                    {% endif %}
                </div>
        </div>
                {% endfor %}
                {% endif %}              
            </div>
        </div>
    </div>                        
</div>

<!-- 댓글박스 -->
<!-- <div class="container">
    <form action="{% url 'posts:comment_create' post.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>      
            <label for="body">Text: </label><br>
            <textarea cols=40 rows=10 name="body">{{ comment.body }}</textarea>
            <br>
            <input type="submit" value="SUBMIT">                    
        </fieldset>
    </form>      -->

<!--
    <h3>작성자 : {{ post.user.nickname }} </h3>
    <h4>태그 : {{ post.taginpost.all|join:", " }} </h4>
    <h6>전체 태그를 일괄로 불러온 것!↑</h6>
    <h6>전체 태그를 개별로 for문을 통해서 불러온 것↓</h6>
    --------------------------
    {% if tags %}
    {% for tag in tags %}
    <p>{{ tag }} : 관련 글 수 {{ tag.taged_post.all.count }}</p>
    {% endfor %}
    {% endif %}
    ---------------------------
    <p>{{ post.body }}</p>
    <p>{{ post.daycount }}
    <p>좋아요 : {{ post.liked_users.count }} / {{ liked_user }}</p> 
    {% if user.nickname == post.user.nickname %}   
    <a href="{% url 'posts:edit' post.id %}">Edit</a>
    <a href="{% url 'posts:delete' post.id %}">Delete</a>
    {% else %}
    {% endif %}
    {% if comments %}
    {% for comment in comments %}
    <p>{{ comment.user.nickname }} : {{ comment.body }} {{ comment.daycount }}</p>
    {% if user.nickname == comment.user.nickname %}
    <a href="{% url 'posts:comment_edit' comment.id %}">Edit</a>
    <a href="{% url 'posts:comment_delete' comment.id %}">Delete</a>
    {% else %}
    {% endif %}
    {% endfor %}
    {% endif %}
    <form action="{% url 'posts:comment_create' post.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>      
                    {{ user.nickname }}
                    <label for="body"></label><br>
                    <textarea cols=40 rows=1 name="body">{{ comment.body }}</textarea>
                    <br>
                    <input type="submit" value="SUBMIT">                    
                </fieldset>
            </form>     
</div>
-->
{% endblock %}