{% extends "base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'posts/topics/style.css' %}">
{% endblock %}
{% block content %}
      <div class="top_menu">
        <div class="container">
          <div class="selected_topic">
            <text>내 토픽</text>
            <div class="tags">
                <div><a href="">a</a></div>
            </div>
            <text><a href="">더보기</a></text>
          </div>
          <div class="search_topic">
            <text>관심 토픽 외 검색</text>
          </div>
        </div>     
      </div>
      <div class="background">
        <div class="min_height">
      <!-- 카드형태의 피드 -->
      <div class="container">
      <div class="index_feed">
        {% if posts %}
        {% for post in posts %}
        <div class="wrap_feed">
            <div class="feed_card">
                <div class="feed_card_body">
                    <a href="{% url 'posts:detail' post.id %}">
                        {{ post.body }}
                    </a>                                           
                </div>
                <div class="feed_card_tag">
                    <div class="tags">
                    {% if post.taginpost.all %}                            
                        {% for tag in post.taginpost.all %}
                            <div class="tag">   
                                <a href="{% url 'posts:tag_filter' tag.id %}">#{{ tag }} 
                            </div>
                        {% endfor %}                            
                        {% endif %}
                    </div>
                    <div class="feed_card_created_at">
                        <div>
                            {{ post.daycount }}
                        </div>      
                    </div>
                </div>
            </div>
            <div class="feed_card_info">
                <div class="feed_card_avatar">
                </div>
                <div class="feed_card_author">
                    <a href="{% url 'posts:post_to_user' post.id %}">
                        {{ post.user.nickname }}
                    </a>  
                </div> 
                <div class="feed_card_liked">
                    <div class="comment_count">
                    <img src="{% static '/images/comment_count.svg'%}" style: width="16px"; height="16px";>{{ post.comment_set.all.count }}
                    </div>
                    <div class="liked_users_count">
                    {% if post.liked_users.count == 0 %}
                        <form action="{% url 'posts:like_button' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type="image" src="{% static '/images/empty_like.svg'%}" style: width="14px"; height="13px";>{{ post.liked_users.count }}
                        </form>
                    {% else %}
                        <form action="{% url 'posts:like_button' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type="image" src="{% static '/images/filled_like.svg'%}" style: width="14px"; height="13px";>{{ post.liked_users.count }}
                        </form>
                    {% endif %}
                        {% comment %} {% if post.liked_users.count == 0 %}
                        <img src="{% static '/images/empty_like.svg'%}" style: width="14px"; height="13px";>{{ post.liked_users.count }}
                        {% else %}
                        <img src="{% static '/images/filled_like.svg'%}" style: width="14px"; height="13px";>{{ post.liked_users.count }}
                        {% endif %}                        {% endcomment %}
                    </div>                   
                </div>
            </div>
        </div>         
        {% endfor %}
        {% endif %}
      </div>
    </div>  
  </div>
</div>
{% endblock %}